<a href="https://colab.research.google.com/github/tengxinyu2005/python_20210425-1/blob/main/python_20210425_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Happy Python Day 2021.4.25

#基本的運算

In [15]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

(5.666666666666667, 5, 2)

In [16]:
x = 5
print(x > 3 and x < 10)

True

In [17]:
x = 5
print(x > 3 or x < 4)

True

In [18]:
x = 5
print(not(x > 3 and x < 10))

False

#內建函式: round()函數的測試

In [19]:
#Round a number to only two decimals:
x = round(5.76543, 2)
print(x)


# Round to the nearest integer:
y = round(5.76543)
print(y)

5.77
6

#Python 型態轉換

In [5]:
a = 1.0004
int(a)

1

In [6]:
b = 0.9999
int(a)

1

#string字串的運算

In [21]:
r1 = 'Hello Python!'

print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8]) # Slicing 切片運算

var1[0]:  H
var1[1:8]:  ello Py

In [22]:
b = "Hello, World!"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2]) # Negative Indexing

llo
Hello
llo, World!
orl

#Python内建的字串函数

In [25]:
str1='happy python day'
str2='    Oh!   '

str3=str1 + str2   # 字串串接String Concatenation運算

print(str4.capitalize())

Happy python day    oh!

#列表(list)資料及其運算

In [28]:
list1 = [21, 33, 14, 12, 32, 98]

list1[1]
list1[-2]
list1[1:3]

[33, 14]

In [29]:
list1 = [21, 33, 14, 12, 32, 98]

len(list1)
max(list1)
min(list1)
sum(list1)

210

#字典(dict)資料及其運算

In [7]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
f = dict({'one': 1, 'three': 3}, two=2)
a == b == c == d == e == f

True

In [8]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}

print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  DaDaLong
dict['Age']:  17

In [9]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
dict.items()

dict_items([('Name', 'DaDaLong'), ('Age', 17), ('Class', 'First')])

In [10]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.items())
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.keys())

['Name', 'Age', 'Class']

In [11]:
ascii_a2z = {num: chr(num) for num in range(97,123)}
ascii_a2z

{97: 'a',
 98: 'b',
 99: 'c',
 100: 'd',
 101: 'e',
 102: 'f',
 103: 'g',
 104: 'h',
 105: 'i',
 106: 'j',
 107: 'k',
 108: 'l',
 109: 'm',
 110: 'n',
 111: 'o',
 112: 'p',
 113: 'q',
 114: 'r',
 115: 's',
 116: 't',
 117: 'u',
 118: 'v',
 119: 'w',
 120: 'x',
 121: 'y',
 122: 'z'}

In [12]:
alphas= []
for num in range(97,123):
    alpha = chr(num)
    alphas.append(alpha)
  
ascii_a2z = {alpha: ord(alpha) for alpha in alphas}
ascii_a2z

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}